*{
    margin:  0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    background-image: linear-gradient(160deg, rgb(218, 216, 216), darkblue , rgb(2, 2, 190));
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    
}
.row{
    max-width: 1280px;
    width: auto;
    height: 100vh;
    margin: 0 50px 0;
}


/* Heading */
.nav{
    width: 100%;
    height: 50px;
    background-color: rgb(78, 78, 251);
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    
}
.hambuger{
    display: none;
}

.nav_side{
    display: none;
}

.nav_lists{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav_lists .nav_item a{
    text-decoration: none;
    color: black;
    display: block;
}
.nav_lists .nav_beforeandafter a{
    text-decoration: none;
    color: black;
    display: none;
}

.nav_item:hover a{
    color: white;
    text-decoration: underline;
}
.nav_beforeandafter:hover a{
    color: white;
    text-decoration: underline;
}


/* Heading End */

/* Contact info */

.info_container{
    display: flex;
    justify-content: space-around;
    margin: 50px;
    gap: 20px;
}

.contact_info{
    width: 100%;
    background-color: rgb(78, 78, 251);;
    height: 200px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 10px 5px 20px black;
}

.contact h3{
    margin-bottom: 20px;
    
}
.contact h1{
    margin-bottom: 20px;
    
}
.car_price{
    width: 100%;
    background-color: rgb(78, 78, 251);
    height: 200px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 10px 5px 20px black;
}
.list_items{
    margin: 0;
    padding: 0;
    list-style: none;
    display: column;
    gap: 10px ;
}
.list_items li h2{
    margin-top: 15px;
    padding: 0;
    list-style: none;
    display: column;
    gap: 10px ;
}

/* Contact Info end */

/* Service info */

#Services{
    display: flex;
}
.images_left{
    margin-left:50px ;
}
.images_list{
    width: 20%;
    height: 300px;
    list-style: none;
}

.images_list li{
    margin-bottom: 20px;
}
.images_list_right li{
    margin-bottom: 20px;
}

.image{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 10px 5px 20px black;
}

.car_wash_package{
    width: 100%;
    height: 500px;
    background-color: rgb(78, 78, 251);
    margin: 0px 25px 0px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 5px 5px 20px black;
    
}
.detail_package{
    width: 100%;
    height: 530px;
    background-color: rgb(78, 78, 251);
    margin: 20px 25px 0px ;
    border-radius: 50px;
    text-align: center;
    box-shadow: 5px 5px 20px black;
    
}

.car_wash_package h1{
    margin-bottom: 20px;
}
.detail_package h2{
    margin-bottom: 20px;
}



.option_left{
    width: 300px;
    height: 210px;
    background-color: lightgrey;
    margin-left: 70px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px black;

    
}
.option_right{
    width: 300px;
    height: 210px;
    background-color: lightgray;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px black;
}

.info_content{
    display: flex;
}

.images_list_right{
    margin-left: 50px;
    width: 20%;
    height: 300px;
    list-style: none;
}


/* Service info end */

/* Before and After  */


#BeforeandAfter{
    margin-left: 250px;
    margin-top: 100px;
    display: none;
}

.after{
    
    text-align: center;
}

.before{
    
    text-align: center;
}

.before h1{
    margin-bottom: 20px;
}
.after h1{
    margin-bottom: 20px;
}

.hidden{
    display: none;
}


.before_list{
    list-style: none;
    margin: 0;
}
.after_list{
    list-style: none;
    margin: 0;
}

.before_list img{
    width: 150px;
    border-radius: 40px;
}

.after_list img{
    width: 150px;
    border-radius: 40px;

}
/* Before and after end */


@media (max-width:1231px) {


    .row{
        max-width: 1000px;
        width: 100%;
        margin: 0;
    }
    nav ul{
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background: rgb(78, 78, 251);
        overflow: hidden;
        gap: 0;
        height: 100vh;
    }
    .nav{
        border-radius:0 0 0 0 ;
        width: 100%;
    }
    nav .heading{
        margin: 0;
    }
    nav ul li{
        padding: 20px;
    }

    .nav_lists .nav_beforeandafter a{
        text-decoration: none;
        color: black;
        display: block;
    }

    .hambuger{
        background-color: rgb(78, 78, 251);
        border: none;
        display: block;
    }

    .sidebar{
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 250px;
        z-index: 999;
        background-color: white;
    
    }

    .info_container{
        flex-direction: column;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        margin: 25px 0 0 0;
        gap: 20px;
    }

    .car_price{
        width: 100%;
        background-color: rgb(78, 78, 251);
        height: 300px;
        border-radius: 20px;
        text-align: center;
        box-shadow: 10px 5px 20px black;
        margin-bottom: 50px;
    }

    .contact h1{
        margin-bottom: 20px;
        font-size: 20px;
        
    }
    .car_price h1{
        margin-bottom: 20px;
        font-size: 20px;
        
    }

    .images_left{
        display: none;
    }
    .images_list_right{
        display: none;
    }

    .car_wash_package{
        width: 100%;
        height: 1200px;
        background-color: rgb(78, 78, 251);
        margin: 0;
        border-radius: 50px;
        text-align: center;
        box-shadow: 5px 5px 20px black;
    }
    .detail_package{
        width: 100%;
        height: 1450px;
        background-color: rgb(78, 78, 251);
        margin: 50px 0 0 0;
        border-radius: 50px;
        text-align: center;
        box-shadow: 5px 5px 20px black;
    }

    .car_wash_package h1{
        font-size: 30px;

    }
    .detail_package h1{
        font-size: 30px;
        padding-top: 20px;

    }

    .info_content{
        flex-direction: column;
        left: 0;

    }
    .option_left{
        margin-left: 20px;
        width: 250px;
        height: 250px;
    }
    .option_right{
        margin-left: 20px;
        width: 250px;
        height: 280px;
    }

    #BeforeandAfter{
        display: flex;
        margin: 30px;
    }
}

@media (max-width:330px) {
    .car_wash_package{
        width: 80%;
        height: 1000px;
        background-color: rgb(78, 78, 251);
        margin: 0px 40px 0px ;
        border-radius: 50px;
        text-align: center;
        box-shadow: 5px 5px 20px black;
    }
    .detail_package{
        width: 80%;
        height: 1350px;
        background-color: rgb(78, 78, 251);
        margin: 50px 40px 0px ;
        border-radius: 50px;
        text-align: center;
        box-shadow: 5px 5px 20px black;
    }
    
}